/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor/*
!/vendor/livewire/
/vendor/livewire/*
!/vendor/livewire/flux/
/vendor/livewire/flux/*
!/vendor/livewire/flux/stubs/
/vendor/livewire/flux/stubs/*
!/vendor/livewire/flux/stubs/resources/
/vendor/livewire/flux/stubs/resources/*
!/vendor/livewire/flux/stubs/resources/views/
/vendor/livewire/flux/stubs/resources/views/*
!/vendor/livewire/flux/stubs/resources/views/flux/
/vendor/livewire/flux/stubs/resources/views/flux/*
!/vendor/livewire/flux/stubs/resources/views/flux/sidebar/
/vendor/livewire/flux/stubs/resources/views/flux/sidebar/*
!/vendor/livewire/flux/stubs/resources/views/flux/sidebar/item.blade.php
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed